<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HYV_HPV_ClinicBooking"
        tools:targetApi="31">

        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />


        <!-- ============ -->
        <!-- Vào ứng dụng -->
        <!-- ============ -->
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- ================================== -->
        <!-- Authentication: Đăng nhập, Đăng ký -->
        <!-- ================================== -->
        <activity
            android:name=".Activity.LoginPage"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterPage"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterDoctorPage"
            android:exported="false" />
        <!-- Authentication: Quên mật khẩu khi đăng nhập -->
        <activity
            android:name=".Activity.ResetPasswordActivity"
            android:exported="false" />


        <!-- ======================== -->
        <!-- Home Page: các Trang chủ -->
        <!-- ======================== -->
        <activity
            android:name=".Activity.UserHomePage"
            android:exported="false" />
        <activity
            android:name=".Activity.DoctorHomePage"
            android:exported="false" />
        <activity
            android:name=".Activity.AdminHomePage"
            android:exported="false" />


        <!-- ========================================== -->
        <!-- Activity dùng chung cho BỆNH NHÂN + BÁC SĨ -->
        <!-- ========================================== -->
        <activity
            android:name=".Activity.NotificationPage"
            android:exported="false" />


        <!-- ====================== -->
        <!-- Activity bên BỆNH NHÂN -->
        <!-- ====================== -->
        <!-- bệnh nhân đặt cuộc hẹn -->
        <activity
            android:name=".Activity.UserOrderPage"
            android:exported="false" />
        <activity
            android:name=".Activity.DieuKhoanDichVu"
            android:exported="false" />
        <activity
            android:name=".Activity.ChinhSachBaoMat"
            android:exported="false" />
        <activity
            android:name=".Activity.QuyDinhSuDung"
            android:exported="false" />
        <activity
            android:name=".Activity.ChangePasswordPage"
            android:exported="false" />
        <!-- bệnh nhân xem thông tin bác sĩ -->
        <activity
            android:name=".Activity.DoctorDetailPage"
            android:exported="false" />
        <!-- bệnh nhân xem đơn thuốc đã được kê -->
        <activity
            android:name=".Activity.PrescriptionActivity"
            android:exported="false" />


        <!-- =================== -->
        <!-- Activity bên BÁC SĨ -->
        <!-- =================== -->
        <activity
            android:name=".Activity.ApproveAppoinmentTab"
            android:exported="false" />
        <activity
            android:name=".Activity.UnApproveAppoinmentTab"
            android:exported="false" />
        <activity
            android:name=".Activity.HistoryAppoinmentTab"
            android:exported="false" />
        <!-- bác sĩ kê đơn thuốc -->
        <activity
            android:name=".Activity.DoctorPrescriptionPage"
            android:exported="false" />


        <!-- ================== -->
        <!-- Activity bên ADMIN -->
        <!-- ================== -->
        <!-- admin thêm thuốc mới -->
        <activity
            android:name=".Activity.DoctorPrescriptionInforPage"
            android:exported="false" />


        <!-- Chưa thể xác định -->
        <activity
            android:name=".Activity.EditProfilePage"
            android:exported="false" />

    </application>

</manifest>